/* VirtualPiano.module.css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.button {
  height: auto;
  width: 100%;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  color:rgba(252, 240, 216, 1);
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.22px;

  color: rgba(28, 26, 26, 1);

}
.button:hover {
  font-family: "Noto Sans", sans-serif;
  background-color: rgba(243, 194, 126, 1); /* Hover state color */

  color: rgba(28, 26, 26, 1);
}
.buttonActive {
  font-family: "Noto Sans", sans-serif;
  background-color: rgba(243, 194, 126, 1); /* Active state color */
  border-radius: 20px;
  border:2px solid;
  border-color:rgba(237, 158, 74, 1);
  color: rgba(28, 26, 26, 1);
}

/* Rest of your CSS for the container and other elements */

