::-webkit-scrollbar {
    width: 7px;
  }
    
  ::-webkit-scrollbar-track {
  background: none;
  border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: #6F219E;
  border-radius: 5px;
  }